body {
   background-color: #434562;
    background-position:flex;
    background-size: cover;
  }
  
.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e7e4e4;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #b3abab;
    border-radius: 3px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #232723;
    color: #f7eded;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    background-color: #434562;
    border-bottom: 1px solid #ddd;
  }
  
  li:last-child {
    border-bottom: none;
  }
  


